
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*----------------   menu   -------------------*/
nav {
    background: rgb(245, 70, 39);
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 10%;
}
 



.mainMenu {
    display: flex;
    list-style: none;
}
.mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

.mainMenu li a:hover {
    background: rgb(255,94,0);
}
.openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
.mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}


@media(max-width: 800px){
    .ND h1{
        padding-top: 20%;
    }

    .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(248, 77, 26);
        transition: top 1s ease;
        display: none;
    }
    .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
}

/*-------------- home ----------------*/

.img-1 img{
    position: relative;
    width: 100%;
}

.titre-home{ 
    position: absolute;
    top: 30%;
    left: 5%;
    color: aliceblue;
    font-size: x-large;
}

.AM{
    background-color: #F52D00;
    width: 33vw;
    text-align: center;

}

.description{
    background-color: aliceblue;
    height: 200px;
    margin-top: -3px;
    width: 80%px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:  15px; 
    margin-left: 15%;
    box-shadow:#F52D00 4px 4px 4px;
    font-size: large;

}

.text{
    padding-left: 20px;
    padding-right: 20px ;
    padding-top: 20px;
    text-align: center;
    font-family: inherit;
}

/*------- Gallerie home  ------*/

.titre-H{
    margin-top: 5%;
    font-family: 'Newsreader', serif;
    background-color: #F52D00;
    text-align: center;
    height: 70px;
    border-radius: 7px;
    color: rgb(252, 252, 252);
    font-size: large;
    padding-top: 20px;
}

/*------- Gallerie  ------*/

.text-img-{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding-top: 7%;
}

.text1{
    text-align: center;
    padding-top: 3%;
    display: block;
    height: 400px;
}

.text1 h1{
    color: tomato;
    padding-bottom: 50px;
}

.text1 p{
    padding-left: 7%;
    height: 200px ;
}

.img1{
    padding-left: 20%;
}

.text2 p{
    padding-right: 3%;
    height: 200px ;
}
.img2{
    padding-right: 20%;

}

.buttomhome{
    background-color: tomato;
    height: 30px;
    width: 120px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: large;
}



/*---------- footer -----------*/

.footer{
    background-color: #F52D00;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.icon-sm{
    margin-top: 10px;
    margin-left: 20px;
}
.icon{
    list-style: none;
    display: flex;
}

.icon a{
    margin: 6px;
}

.sm h3{
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}

.espace-mail{
    margin-left: 300px;
    padding: 10px;
    margin-top: 5px;
}

.Follow h3{
    font-size: x-large;
    color: white;
    padding: 15px;
    text-align: center;
}

.New{
    display: flex;
}

.Newsletter  {
    padding: 13px 26px;
    padding-left: 26px;
    border: #fff solid 1px;
    width: 90%;
}


.Subscribe {
    padding: 10px 46px;
    margin-left: -3px;
    border: #0e0c0c solid 1px;
    background: #0e0c0c;
    color: #fff;
}

.Subscribe:hover {
    background-color: rgb(255, 104, 16);
}

.contact-icon{
    display: flex;
    margin-left: 250px;
    margin-top: 70px;
}


/*--------- Gellery ----------*/

.V-gallery{
    padding-bottom: 10%;
}

.Titre-Gallery{
    text-align: center;
    color:tomato;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 3%;
    padding-bottom: 4%;
}

.gallerie-titre{
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    flex-wrap: wrap;
}

.discription button{
    text-align: center;
    background-color: tomato;
    width: 100px;
    height: 25px;
    font-size: medium;
    border: none;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 24%;
    margin-bottom: 20%;
}

button:hover {
    background-color: rgb(102, 46, 1);
}

.discription h3{
    text-align: center;
    padding: 5px;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 7px;
}


/*--------- reservation ---------*/


.type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x:scroll ;
    padding-left: 90px;
    padding-right: 130px;
}

.tit{
    text-align: center;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
}

.type::-webkit-scrollbar{
    display: none;
}
.img- {
    background-color: white;
    height: 200px;
}


.tittle{
    background-color: white;
    color: tomato;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4%;
    padding-bottom:3%;
}

.selec{
    display: block;
    padding-bottom: 7px;
    margin-left:  30%;
    margin-right:  30%;
    
}

.Estimation{
    margin-left: 40%;
}

.jour{
    background-color: tomato;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

.final-prix{
    display: block;
}
/*----------------- contact ---------------*/

.contact1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

.contact3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

.contact1 input{
    width: 270px;    
    height: 30px;
}

.contact3 textarea{
    width: 578px;    
    height: 137px;
}

.evnvy button{
    background-color: rgb(248, 72, 41);
    margin-left: 45%;
    height: 30px;
    width: 100px;
}

.evnvy :hover{
    background-color: rgb(54, 10, 2);
    color: wheat;
}

@media only screen and (max-width: 320px ) {
    /*--------- home ----------*/

    .img-1{
        position: relative;
        width: 100%;  
    }

    .titre-home h2{
        margin-left: 0%;
        position: absolute;
        font-size: small;
        width: 250px;
        margin-top: 0%;
    }

    .AM{
        width: 200px;
    }

    .description{
        width: 80%;
        margin-left: 10%;
        height: 250px;

    }

    .text{
        font-size: x-small;
        padding-top: 2%;

    }

    .text-img-{
        display: block;
        justify-content: flex-start;
        font-size: small;
        padding-left: 0%;
        padding-right: 0%;

    }

    .img1 img{
        display: none;
        
    }

    .img2 img{
        display: none;
        
    }

    .buttomhome{
        margin-top: 30px;
    } 

    /*------------ footer -------------------*/

    .footer{
        display: flex;
        height: 280px;
    }

    .icon-sm{
        margin-left: 15%;
    }

    .sm h3{
        color: white;
        font-size: large;
        text-align: center;
        padding: 10px;
    }

    .espace-mail{
        margin-left: 1%;
        margin-right: 1%;
        padding: 0px;
        margin-top: 10px;
    }

    .contact{
        display: none;
    }


      /*--------- contact ----------*/

    .contact1{
        display: block;
        padding-left: 15px;

    }

    .contact3{
        padding-left: 15px;
    }

    .contact3 textarea{
        width: 270px;
    }

    .evnvy button{
        background-color: rgb(248, 72, 41);
        margin-left: 33%;
    }

    /*--------- reservation ----------*/

    .type {
        margin-top: 10px;
        height: 100px; 
        padding-left: 5px;               
    }

    .img-{
        height: 100px;
    }

    .rselect{
        display: flex;
    }

    .selec label {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }

    .selec1{
        display: block;
        margin-left: 25%;

    }
    .selec1 input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .final-prix input{
        display: block;
    }

    .Estimation{
        margin-left: 38%;
        background-color: tomato;
        color: white;
        height: 25px;
        font-size: medium;
        margin-top: 10px;
    }

    .final-prix label{
        font-size: medium;
        margin-left: 10%;
        margin-bottom: 20px;
    }
    
    .jour{
        width: 60%;
        margin-left: 20%;
        margin-top: 20px;
    }
    
   
  }



@media only screen and (min-width: 321px ) {
    /*--------- home ----------*/

    .img-1{
        position: relative;
        width: 100%;  
    }

    .titre-home h2{
        margin-left: 0%;
        position: absolute;
        font-size: medium;
        width: 300px;
        margin-top: 0%;
    }

    .AM{
        width: 230px;
    }

    .description{
        width: 80%;
        margin-left: 10%;
        height: 180px;

    }

    .text{
        font-size: x-small;
        padding-top: 2%;

    }

    .text-img-{
        display: block;
        justify-content: flex-start;
        font-size: small;
        padding-left: 0%;
        padding-right: 0%;

    }

    .img1 img{
        width: 100%;
    }

    .img2 img{
        width: 100%;
    }

    .buttomhome{
        margin-top: 30px;
    } 

    /*------------ footer -------------------*/

    .footer{
        display: flex;
        height: 280px;
    }

    .icon-sm{
        margin-left: 15%;
    }

    .sm h3{
        color: white;
        font-size: large;
        text-align: center;
        padding: 10px;
    }

    .espace-mail{
        margin-left: 1%;
        margin-right: 1%;
        padding: 0px;
        margin-top: 10px;
    }

    .contact{
        display: none;
    }

   /*--------- contact ----------*/

   .contact1{
    display: block;
    padding-left: 60px;

    }

    .contact3{
        padding-left: 60px;
    }

    .contact3 textarea{
        width: 270px;
    }

    .evnvy button{
        background-color: rgb(248, 72, 41);
        margin-left: 37%;
    }

     /*--------- reservation ----------*/

     .type {
        margin-top: 10px;
        height: 120px; 
        padding-left: 5px;               
    }

    .img-{
        height: 110px;
    }

    .rselect{
        display: flex;
    }

    .selec1{
        display: block;
        margin-left: 25%;

    }
    .selec1 input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .selec label {
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
    }

    .final-prix input{
        display: block;
    }

    .Estimation{
        margin-left: 41%;
        background-color: tomato;
        color: white;
        height: 25px;
        font-size: medium;
        margin-top: 10px;
    }

    .final-prix label{
        font-size: medium;
        margin-left: 10%;
        margin-bottom: 20px;
    }
    
    .jour{
        width: 60%;
        margin-left: 20%;
        margin-top: 20px;
    }
  

}


@media only screen and (min-width: 426px ) and (max-width:768px) {

    /*--------- home ----------*/
 

    .img-1{
        position: relative;
        width: 100%;  
    }

    .titre-home h2{
        margin-left: 0%;
        position: absolute;
        font-size: x-large;
        width: 460px;
        margin-top: 0%;
    }

    .AM{
        width: 400px;
    }

    .description{
        width: 80%;
        margin-left: 10%;
        height: 170px;

    }

    .text{
        font-size: small;
        padding-top: 2%;
    }

    .text-img-{
        display: flex;
        font-size: small;
        padding-left: 0%;
        padding-right: 0%;
    }
     
    .img1 img{
        width: 300px;
        height: 250px;
        margin-top: 35%;
    }

    .img2 img{
        width: 300px;
        height: 250px;
        margin-top: 35%;
    }

    /*------------ footer -------------------*/

    .footer{
        display: block;
        height: 280px;
        padding-top: 2%;
    }

    .icon-sm{
        margin-left: 40%;
    }

    .sm h3{
        color: white;
        font-size: x-large;
        text-align: initial;
        padding: 10px;
    }

    .espace-mail{
        margin-left: 15%;
        margin-right: 15%;
        padding: 0px;
    }

    .contact{
        display: none;
    }

    
   /*--------- contact ----------*/

   .contact1{
    display: flex;
    padding-left: 100px;

    }

    .contact3{
        padding-left: 100px;
    }

    .contact3 textarea{
        width: 540px;
    }

    .evnvy button{
        background-color: rgb(248, 72, 41);
        margin-left: 40%;
    }

    /*--------- reservation ----------*/

    .type {
        margin-top: 10px;
        height: 120px; 
        padding-left: 5px;               
    }

    .img-{
        height: 110px;
    }


    .rselect{
        display: flex;
    }

    .selec{
        display: flex;

    }
    .selec input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .selec1{
        display: flex;
        margin-left: 40%;

    }
    .selec1 input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .final-prix input{
        display: block;
    }

    .Estimation{
        margin-left: 46%;
        background-color: tomato;
        color: white;
        height: 25px;
        font-size: medium;
        margin-top: 10px;
    }

    .final-prix label{
        font-size: medium;
        margin-left: 20%;
        margin-bottom: 100px;
    }
    
    .jour{
        width: 25%;
        margin-left: 39%;
        margin-top: 20px;
    }

}

@media only screen and (min-width: 769px ) and (max-width: 1024px ) {

    /*--------- home ----------*/

    .img-1{
        position: relative;
        width: 100%;  
    }

    .titre-home h2{
        margin-left: 0%;
        position: absolute;
        font-size: xx-large;
        width: 600px;
        margin-top: 0%;
    }

    .AM{
        width: 500px;
    }

    .description{
        width: 80%;
        margin-left: 10%;
        height: 130px;

    }

    .text{
        font-size: small;
        padding-top: 2%;
    }

    .text-img-{
        display: flex;
        font-size: large;
        padding-left: 0%;
        padding-right: 0%;
    }
     
    .img1 img{
        width: 300px;
        height: 250px;
        margin-top: 35%;
    }

    .img2 img{
        width: 300px;
        height: 250px;
        margin-top: 35%;
    }

    /*------------ footer -------------------*/

    .footer{
        display: block;
        height: 280px;
        padding-top: 2%;
    }

    .icon-sm{
        margin-left: 40%;
    }

    .sm h3{
        color: white;
        font-size: x-large;
        text-align: initial;
        padding: 10px;
    }

    .espace-mail{
        margin-left: 15%;
        margin-right: 15%;
        padding: 0px;
    }

    .contact{
        display: none;
    }

     /*--------- contact ----------*/

   .contact1{
    display: flex;
    padding-left: 220px;
    }

    .contact3{
        padding-left: 220px;
    }

    .contact3 textarea{
        width: 540px;
    }

    .evnvy button{
        background-color: rgb(248, 72, 41);
        margin-left: 43%;
    }

        /*--------- reservation ----------*/

    .type {
        margin-top: 10px;
        height: 120px; 
        padding-left: 5px;               
    }

    .img-{
        height: 110px;
    }


    .rselect{
        display: flex;
    }

    .selec{
        display: flex;

    }
    .selec input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .selec1{
        display: flex;
        margin-left: 40%;

    }
    .selec1 input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .final-prix input{
        display: block;
    }

    .Estimation{
        margin-left: 43%;
        background-color: tomato;
        color: white;
        height: 25px;
        font-size: medium;
        margin-top: 10px;
    }

    .final-prix label{
        font-size: medium;
        margin-left: 20%;
        margin-bottom: 100px;
    }
    
    .jour{
        width: 25%;
        margin-left: 39%;
        margin-top: 20px;
    }

        /*--------- reservation ----------*/

        .type {
            margin-top: 10px;
            height: 300px; 
            padding-left: 5px;               
        }
    
        .img-{
            height: 250px;
        }
    
    
        .rselect{
            display: flex;
        }
    
        .selec{
            display: flex;
    
        }
        .selec input {
            margin-left: 0px;
            margin-right: 0px;
            margin-left: 20px;
        }
    
        .selec1{
            display: flex;
            margin-left: 40%;
    
        }
        .selec1 input {
            margin-left: 0px;
            margin-right: 0px;
            margin-left: 20px;
        }
    
        .final-prix input{
            display: block;
        }
    
        .Estimation{
            margin-left: 48%;
            background-color: tomato;
            color: white;
            height: 25px;
            font-size: medium;
            margin-top: 10px;
        }
    
        .final-prix label{
            font-size: medium;
            margin-left: 20%;
            margin-bottom: 100px;
        }
        
        .jour{
            width: 25%;
            margin-left: 39%;
        }

  }

  @media only screen and (min-width: 1026px ) and (max-width: 2560px ) {

    /*--------- home ----------*/
    

    .img-1{
        position: relative;
        width: 100%;  
    }

    .titre-home h2{
        margin-left: 0%;
        position: absolute;
        font-size: xx-large;
        width: 800px;
    }

    .AM{
        width: 500px;
    }

    .description{
        width: 80%;
        margin-left: 10%;
        height: 150px;

    }

    .text{
        font-size: medium;
        padding-top: 2%;
    }

    .text-img-{
        display: flex;
        font-size: large;
        padding-left: 0%;
        padding-right: 0%;
    }
     
    .img1 img{
        width: 500px;
        height: 350px;
        margin-top: 15%;
    }

    .img2 img{
        width: 300px;
        height: 250px;
        margin-top: 35%;
    }

    /*------------ footer -------------------*/

    .footer{
        display: block;
        height: 280px;
        padding-top: 2%;
    }

    .icon-sm{
        margin-left: 40%;
    }

    .sm h3{
        color: white;
        font-size: x-large;
        text-align: initial;
        padding: 10px;
    }

    .espace-mail{
        margin-left: 15%;
        margin-right: 15%;
        padding: 0px;
    }

    .contact{
        display: none;
    }

    
    .contact1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30%;
        padding-right: 30%;
    }

    .contact3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30%;
        padding-right: 30%;
    }

    .contact1 input{
        width: 270px;    
        height: 30px;
    }

    .contact3 textarea{
        width: 578px;    
        height: 137px;
    }

    .evnvy button{
        background-color: rgb(248, 72, 41);
        margin-left: 45%;
        height: 30px;
        width: 100px;
    }

    /*--------- reservation ----------*/

    .type {
        margin-top: 10px;
        height: 300px; 
        padding-left: 5px;               
    }

    .img-{
        height: 250px;
    }


    .rselect{
        display: flex;
    }

    .selec{
        display: flex;
        margin-left: 36%;
    }

    .selec input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .selec1{
        display: flex;
        margin-left: 42%;
    }

    .selec1 input {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .final-prix input{
        display: block;
    }

    .Estimation{
        margin-left: 47%;
        background-color: tomato;
        color: white;
        height: 25px;
        width: 100px;
        font-size: large;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .final-prix label{
        font-size: large;
        margin-left: 20%;
        margin-bottom: 100px;
    }
    
    .jour{
        width: 25%;
        margin-left: 39%;
    }

}

@media(max-width: 800px){
    nav .menu-list {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: tomato;
        transition: top 1s ease;
        display: none;
    }
    nav .menu-list .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .menu-list li a:hover {
        background: none;
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
    }

}








